
/* ********** Grid Css ********** */
.line{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.line-revere{
    flex-wrap: wrap-reverse;
}

[class*="column-"]{
    padding: 0 15px;
    /* margin-bottom: 20px; */
}


 /* ********** Large Screen **********  */
.column-1{
    width: 8.33%;
}

.column-2{
    width: 16.66%;
}

.column-3{
    width: 25%;
}

.column-4{
    width: 33.33%;
}

.column-5{
    width: 41.66%;
}

.column-6{
    width: 50%;
}

.column-7{
    width: 58.33%;
}

.column-8{
    width: 66.66%;
}

.column-9{
    width: 75%;
}

.column-10{
    width: 83.33%;
}

.column-11{
    width: 91.66%;
}

.column-12{
    width: 100%;
}


/* ********** Medium Screen ********** */
@media only screen and (max-width:1200px){
    .column-middle-1{
        width: 8.33%;
    }
    
    .column-middle-2{
        width: 16.66%;
    }
    
    .column-middle-3{
        width: 25%;
    }
    
    .column-middle-4{
        width: 33.33%;
    }
    
    .column-middle-5{
        width: 41.66%;
    }
    
    .column-middle-6{
        width: 50%;
    }
    
    .column-middle-7{
        width: 58.33%;
    }
    
    .column-middle-8{
        width: 66.66%;
    }
    
    .column-middle-9{
        width: 75%;
    }
    
    .column-middle-10{
        width: 83.33%;
    }
    
    .column-middle-11{
        width: 91.66%;
    }
    
    .column-middle-12{
        width: 100%;
    }
}


 /* ********** Small Screen **********  */
 @media only screen and (max-width:750px){
    .column-small-1{
        width: 8.33%;
    }
    
    .column-small-2{
        width: 16.66%;
    }
    
    .column-small-3{
        width: 25%;
    }
    
    .column-small-4{
        width: 33.33%;
    }
    
    .column-small-5{
        width: 41.66%;
    }
    
    .column-small-6{
        width: 50%;
    }
    
    .column-small-7{
        width: 58.33%;
    }
    
    .column-small-8{
        width: 66.66%;
    }
    
    .column-small-9{
        width: 75%;
    }
    
    .column-small-10{
        width: 83.33%;
    }
    
    .column-small-11{
        width: 91.66%;
    }
    
    .column-small-12{
        width: 100%;
    }
}