/* ***** Reset Css ***** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button a {
    text-decoration: none;
    color: #fff;
}

button a:hover {
    text-decoration: none;
    color: #fff;
}

/* ***** End Reset Css ***** */



/* ***** Header Css ***** */
.main-menu-bar {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(40, 40, 40);
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    padding: 0 100px;
    transition: 0.6s;
    z-index: 2000;
}

/* ***** Logo Css ***** */
.main-menu-bar .brand-logo {
    color: #fff;
    font-family: 'Bowlby One SC', cursive;
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    margin-top: 2px;
}

.main-menu-bar .brand-logo span {
    color: #4E944F;
    font-family: 'Bowlby One SC', cursive;
    font-size: 1.2em;
}


/* ***** End Logo Css ***** */

/* ***** Navbar and Menu Css ***** */
.main-menu-bar .main-menu {
    position: relative;
    line-height: 28px;
    transition: 0.6s;
    transition-property: line-height;
}

.main-menu-bar.sticky .main-menu {
    line-height: 60px;

}

.main-menu-bar .main-menu .menu {
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
    margin-top: 15px;

}

.menu-item>a {
    color: white;
    font-size: 1em;
    text-decoration: none;
    margin: 20px;
    padding: 25px 0;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.menu-item>a:hover {
    color: #4AA96C;
    padding-left: 3px;
    font-weight: 600;
    transition: 0.2s;
    text-decoration: double;
}

.mob-item {
    display: none;
}

/* ***** End Navbar and Menu Css ***** */

/* ***** Menu User Css ***** */

.menu-user {
    display: flex;
}


.menu-user i {
    color: #fff;
    margin-left: 14px;
    font-size: 1.2em;
    margin-top: 5px;
    font-weight: 600;
    margin-top: 2px;
}

.menu-user i:hover {
    color: orangered;
    padding-left: 3px;
    transition: 0.2s;
    cursor: pointer;

}

.mob-user {
    display: none;
    color: #fff;
    margin-left: 14px;
    font-size: 1.3em;
    margin-top: 5px;
    font-weight: 600;
}

.mob-user i {
    margin-top: 4px;
    margin-left: 10px;
}

.mob-user i:hover {
    color: orangered;
    padding-left: 3px;
    transition: 0.2s;
    cursor: pointer;
}

.menu-user span {
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 3px;
    text-transform: uppercase;
}

.menu-user span:hover {
    color: orangered;
    font-weight: 600;
}

/* ***** End Menu User Css ***** */

/* ***** Outside Dropdown List Css ***** */
.menu-item .sub-menu {
    position: absolute;
    background: rgb(40, 40, 40);
    top: 44px;
    line-height: 30px;
    list-style: none;
    z-index: 1;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}



.menu-item:hover .sub-menu {
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
}

.menu-item .sub-menu .sub-item {
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -20px 4px -20px rgba(255, 255, 255, 0.2);
}

.menu-item .sub-menu .sub-item a {
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: 15px 30px;
}

.menu-item .sub-menu .sub-item:hover {
    background: #4AA96C;
    /* font-weight: 600; */
    transition: 0.2s;

}

/* ***** End Outside Dropdown List Css ***** */


/* ***** Inside Dropdown List Css ***** */
.more .more-menu {
    position: absolute;
    background: rgb(64, 64, 64);
    list-style: none;
    left: 100%;
    top: 0;
    white-space: nowrap;
    border-radius: 0 3px 5px 3px;
    overflow: hidden;
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;

}

.more:hover .more-menu {
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
}

.more .more-menu .more-item {
    padding: 7px 0;
    box-shadow: inset 0px -20px 4px -20px rgba(59, 57, 57, 0.814);
    transition: 0.3s;

}

.more .more-menu .more-item:hover {
    background: #4AA96C;
    transition: 0.2s;
}

.menu-btn {
    display: none;
}

/* ***** End Inside Dropdown List Css ***** */


/* ***** Media Query Css ***** */
@media (max-width:1382px) {

    .main-menu-bar {
        justify-content: none;
    }

    .main-menu-bar .main-menu .menu {
        background: rgb(40 40 40);
        height: 100vh;
        min-width: 300px;
        position: fixed;
        padding: 90px 50px;
        top: 0;
        right: -100%;
        list-style: none;
        overflow-y: auto;
        user-select: none;
        transition: 0.5s;
        transition-property: right, visibility;
        display: block;
        visibility: hidden;
    }

    .main-menu-bar .main-menu .menu.active {
        right: 0;
        visibility: visible;
    }

    .menu-item {
        position: relative;
    }

    .menu-item .sub-menu {
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        display: none;
    }

    .menu-item:hover .sub-menu {
        transform: translateX(10px);
    }

    .menu-item .sub-menu .sub-item {
        box-shadow: none;
    }

    .more .more-menu {
        display: none;
    }

    .sub-menu i {
        display: none;
    }

    .close-btn {
        position: absolute;
        background: url(../Images/Navbar/close.png)no-repeat;
        width: 40px;
        height: 40px;
        background-size: 25px;
        background-position: center;
        top: 0;
        left: 0;
        margin: 25px;
        cursor: pointer;
        text-align: center;

    }

    .menu-btn {
        background: url(../Images/Navbar/menu.png)no-repeat;
        width: 40px;
        height: 40px;
        background-size: 28px;
        background-position: center;
        cursor: pointer;
        display: block;
        text-align: center;
        justify-content: end;
    }

    header {
        padding: 15px 20px;
    }

    .menu-user {
        display: none;
    }

    .mob-user {
        display: block;
    }

    .mob-item {
        display: block;
    }
}


@media (max-width : 575px) {
    .main-menu-bar .brand-logo {
        font-size: 1em;
    }

    .main-menu-bar .brand-logo span {
        font-size: 1em;
    }
}


/* ***** End Media Query Css ***** */

.search-user button {
    background: #28B5B5;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
    height: 80%;
    font-size: 16px;
    color: #fff;
    padding: 0 15px;
}

.search-user input{
    height: 10%;
    padding: 0 15px;
    color: rgb(0, 0, 0);
    background: rgb(246, 246, 246);
    border: 2px solid #4AA96C;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
}